<% include ../partials/header %>
<div class="container">
    <div class="row">
        
        <h1 class="text-center">Edit <%= beach.name %></h1>
        
        <div style="width: 30%; margin: 0 auto;">
            
            
                <form action="/beaches/<%= beach.id %>/?_method=PUT" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="name" name="beach[name]" value="<%= beach.name %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="image url" name="beach[image]" value="<%= beach.image %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="description" name="beach[description]" value="<%= beach.description %>">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-default btn-block btn-info">Submit</button>
                    </div>
                </form>
            <a href="/beaches">Back to Beaches</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>