<% include ../partials/header %>

<h1><%= beach.name %></h1>

<img src="<%= beach.image %>">

<p><%= beach.description %></p>

<p><a class="btn btn-success" href="/beaches/<%=beach._id %>/comments/new">Add Comment</a></p>

<% beach.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>

<% include ../partials/footer %>